input { display: block; }
ul    { list-style: none; }
.ba0 { border: 0 }
.max-h25 { max-height: 25rem; overflow-x: auto; }
.saving {
font-size: 10px;
}

.saving span {
	font-size: 15px;
	-webkit-animation-name: blink;
	        animation-name: blink;
	-webkit-animation-duration: 1.4s;
	        animation-duration: 1.4s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.saving span:nth-child(2) {
	-webkit-animation-delay: .2s;
        animation-delay: .2s;
}

.saving span:nth-child(3) {
	-webkit-animation-delay: .4s;
        animation-delay: .4s;
}

@-webkit-keyframes blink {
	0% {
	  opacity: .2;
	}
	20% {
	  opacity: 1;
	}
	100% {
	  opacity: .2;
	}
	}

	@keyframes blink {
	0% {
	  opacity: .2;
	}
	20% {
	  opacity: 1;
	}
	100% {
	  opacity: .2;
	}
}